---
title: Стисло про Закон України Про звернення громадян - Краща Україна
---

%article.law
  %header
    %h2
      %img.emblem{src: 'http://zakonst.rada.gov.ua/images/gerb.gif', alt: 'Герб'}
      Закон України
    %h1 Про звернення громадян
    %p
      Цей Закон регулює питання практичної реалізації громадянами України наданого їм Конституцією України права вносити в органи державної влади, об'єднання громадян відповідно до їх статуту пропозиції про поліпшення їх діяльності, викривати недоліки в роботі, оскаржувати дії посадових осіб, державних і громадських органів. Закон забезпечує громадянам України можливості для участі в управлінні державними і громадськими справами, для впливу на поліпшення роботи органів державної влади і місцевого самоврядування, підприємств, установ, організацій незалежно від форм власності, для відстоювання своїх прав і законних інтересів та відновлення їх у разі порушення.
    %p.meta
      %a.original-link{href: 'http://zakon3.rada.gov.ua/laws/show/393/96-%D0%B2%D1%80', target: '_blank'}
        Оригінал

  %section.chapter
    %h3 Розділ I. ЗАГАЛЬНІ ПОЛОЖЕННЯ

    .section
      %h4
        %em Стаття 1.
        Звернення громадян
      %p.important Громадяни України мають право звернутися до органів державної влади, місцевого самоврядування, об'єднань громадян, підприємств, установ, організацій незалежно від форм власності, засобів масової інформації, посадових осіб відповідно до їх функціональних обов'язків із зауваженнями, скаргами та пропозиціями, що стосуються їх статутної діяльності, заявою або клопотанням щодо реалізації своїх соціально-економічних, політичних та особистих прав і законних інтересів та скаргою про їх порушення.
      %p Військовослужбовці, працівники органів внутрішніх справ і державної безпеки, а також особи рядового і начальницького складу Державної кримінально-виконавчої служби України мають право подавати звернення, які не стосуються їх службової діяльності.
      %p.note {Частина друга статті 1 із змінами, внесеними згідно із Законом № 1254-VI від 14.04.2009}
      %p Особи, які не є громадянами України і законно знаходяться на її території, мають таке ж право на подання звернення, як і громадяни України, якщо інше не передбачено міжнародними договорами.

    .section
      %h4
        %em Стаття 2.
        Законодавство про звернення громадян
      %p Законодавство України про звернення громадян включає цей Закон та інші акти законодавства, що видаються відповідно до Конституції України та цього Закону.
      %p Звернення вкладників до Фонду гарантування вкладів фізичних осіб щодо виплати Фондом відшкодування в межах гарантованої суми розглядаються в порядку, встановленому законодавством про систему гарантування вкладів фізичних осіб.
      %p.note {Статтю 2 доповнено частиною другою згідно із Законом № 4452-VI від 23.02.2012}

    .section.important
      %h4
        %em Стаття 3.
        Основні терміни, що вживаються в цьому Законі
      %p Під зверненнями громадян слід розуміти викладені в письмовій або усній формі пропозиції (зауваження), заяви (клопотання) і скарги.
      %p Пропозиція (зауваження) - звернення громадян, де висловлюються порада, рекомендація щодо діяльності органів державної влади і місцевого самоврядування, депутатів усіх рівнів, посадових осіб, а також висловлюються думки щодо врегулювання суспільних відносин та умов життя громадян, вдосконалення правової основи державного і громадського життя, соціально-культурної та інших сфер діяльності держави і суспільства.
      %p Заява (клопотання) - звернення громадян із проханням про сприяння реалізації закріплених Конституцією та чинним законодавством їх прав та інтересів або повідомлення про порушення чинного законодавства чи недоліки в діяльності підприємств, установ, організацій незалежно від форм власності, народних депутатів України, депутатів місцевих рад, посадових осіб, а також висловлення думки щодо поліпшення їх діяльності. Клопотання - письмове звернення з проханням про визнання за особою відповідного статусу, прав чи свобод тощо.
      %p Скарга - звернення з вимогою про поновлення прав і захист законних інтересів громадян, порушених діями (бездіяльністю), рішеннями державних органів, органів місцевого самоврядування, підприємств, установ, організацій, об'єднань громадян, посадових осіб.

    .section.important
      %h4
        %em Стаття 4.
        Рішення, дії (бездіяльність), які можуть бути оскаржені
      %p До рішень, дій (бездіяльності), які можуть бути оскаржені, належать такі у сфері управлінської діяльності, внаслідок яких:
      %p порушено права і законні інтереси чи свободи громадянина (групи громадян);
      %p створено перешкоди для здійснення громадянином його прав і законних інтересів чи свобод;
      %p незаконно покладено на громадянина які-небудь обов'язки або його незаконно притягнуто до відповідальності.

    .section.important
      %h4
        %em Стаття 5.
        Вимоги до звернення
      %p.note {Стаття 5 в редакції Закону № 577-VIII від 02.07.2015 набирає чинності з 28.10.2015, крім частини третьої, яка набирає чинності з 28.08.2015 - див. пункт 1 розділу II Закону № 577-VIII від 02.07.2015}
      %p Звернення адресуються органам державної влади і органам місцевого самоврядування, підприємствам, установам, організаціям незалежно від форми власності, об’єднанням громадян або посадовим особам, до повноважень яких належить вирішення порушених у зверненнях питань.
      %p Звернення може бути подано окремою особою (індивідуальне) або групою осіб (колективне).
      %p Особливою формою колективного звернення громадян до Президента України, Верховної Ради України, Кабінету Міністрів України, органу місцевого самоврядування є електронна петиція, яка подається та розглядається в порядку, передбаченому статтею 23-1 цього Закону.
      %p Звернення може бути усним чи письмовим.
      %p Усне звернення викладається громадянином на особистому прийомі або за допомогою засобів телефонного зв’язку через визначені контактні центри, телефонні "гарячі лінії" та записується (реєструється) посадовою особою.
      %p Письмове звернення надсилається поштою або передається громадянином до відповідного органу, установи особисто чи через уповноважену ним особу, повноваження якої оформлені відповідно до законодавства. Письмове звернення також може бути надіслане з використанням мережі Інтернет, засобів електронного зв’язку (електронне звернення).
      %p У зверненні має бути зазначено прізвище, ім’я, по батькові, місце проживання громадянина, викладено суть порушеного питання, зауваження, пропозиції, заяви чи скарги, прохання чи вимоги. Письмове звернення повинно бути підписано заявником (заявниками) із зазначенням дати. В електронному зверненні також має бути зазначено електронну поштову адресу, на яку заявнику може бути надіслано відповідь, або відомості про інші засоби зв’язку з ним. Застосування електронного цифрового підпису при надсиланні електронного звернення не вимагається.
      %p Звернення, оформлене без дотримання зазначених вимог, повертається заявнику з відповідними роз’ясненнями не пізніш як через десять днів від дня його надходження, крім випадків, передбачених частиною першою статті 7 цього Закону.
      %p Звернення про надання безоплатної правової допомоги розглядаються в порядку, встановленому законом, що регулює надання безоплатної правової допомоги.
      %p.note {Стаття 5 із змінами, внесеними згідно із Законом № 5477-VI від 06.11.2012; в редакції Закону № 577-VIII від 02.07.2015}

    .section
      %h4
        %em Стаття 6.
        Мова звернень і рішень та відповідей на них
      %p Громадяни мають право звертатися до органів державної влади, місцевого самоврядування, підприємств, установ, організацій незалежно від форм власності, об'єднань громадян, посадових осіб українською чи іншою мовою, прийнятною для сторін.
      %p Рішення щодо звернень громадян та відповіді на них оформляються відповідно до вимог законодавства про мови. Такі рішення та відповіді можуть бути викладені в перекладі мовою спілкування заявника.

    .section.important
      %h4
        %em Стаття 7.
        Заборона відмови в прийнятті та розгляді звернення
      %p Звернення, оформлені належним чином і подані у встановленому порядку, підлягають обов'язковому прийняттю та розгляду.
      %p Забороняється відмова в прийнятті та розгляді звернення з посиланням на політичні погляди, партійну належність, стать, вік, віросповідання, національність громадянина, незнання мови звернення.
      %p Якщо питання, порушені в одержаному органом державної влади, місцевого самоврядування, підприємствами, установами, організаціями незалежно від форм власності, об'єднаннями громадян або посадовими особами зверненні, не входять до їх повноважень, воно в термін не більше п'яти днів пересилається ними за належністю відповідному органу чи посадовій особі, про що повідомляється громадянину, який подав звернення. У разі якщо звернення не містить даних, необхідних для прийняття обгрунтованого рішення органом чи посадовою особою, воно в той же термін повертається громадянину з відповідними роз'ясненнями.
      %p Забороняється направляти скарги громадян для розгляду тим органам або посадовим особам, дії чи рішення яких оскаржуються.

    .section
      %h4
        %em Стаття 8.
        Звернення, які не підлягають розгляду та вирішенню
      %p Письмове звернення без зазначення місця проживання, не підписане автором (авторами), а також таке, з якого неможливо встановити авторство, визнається анонімним і розгляду не підлягає.
      %p Не розглядаються повторні звернення одним і тим же органом від одного і того ж громадянина з одного і того ж питання, якщо перше вирішено по суті, а також ті звернення, терміни розгляду яких передбачено статтею 17 цього Закону, та звернення осіб, визнаних судом недієздатними.
      %p Рішення про припинення розгляду такого звернення приймає керівник органу, про що повідомляється особі, яка подала звернення.

    .section.important
      %h4
        %em Стаття 9.
        Заборона переслідування громадян за подання звернення і неприпустимість примушування їх до його подання
      %p Забороняється переслідування громадян і членів їх сімей за подання звернення до органів державної влади, місцевого самоврядування, підприємств, установ, організацій незалежно від форм власності, об'єднань громадян, посадових осіб за критику у зверненні їх діяльності та рішень.
      %p Ніхто не може бути примушений до подання власного чи підписання колективного звернення або участі в акціях на підтримку звернень інших осіб чи організацій.

    .section
      %h4
        %em Стаття 10.
        Заборона розголошення відомостей, що містяться у зверненнях
      %p Не допускається розголошення одержаних із звернень відомостей про особисте життя громадян без їх згоди чи відомостей, що становлять державну або іншу таємницю, яка охороняється законом, та іншої інформації, якщо це ущемлює права і законні інтереси громадян. Не допускається з'ясування даних про особу громадянина, які не стосуються звернення. На прохання громадянина, висловлене в усній формі або зазначене в тексті звернення, не підлягає розголошенню його прізвище, місце проживання та роботи.
      %p Ця заборона не поширюється на випадки повідомлення інформації, що міститься у зверненні, особам, які мають відношення до вирішення справи.

    .section
      %h4
        %em Стаття 11.
        Звернення до об'єднань громадян
      %p Одержані об'єднаннями громадян звернення із зауваженнями і пропозиціями щодо їх діяльності розглядаються цими об'єднаннями та їх органами відповідно до статутів об'єднань, а заяви і скарги на ущемлення чи порушення ними прав громадян - згідно з цим Законом.

    .section.important
      %h4
        %em Стаття 12.
        Сфера застосування цього Закону
      %p Дія цього Закону не поширюється на порядок розгляду заяв і скарг громадян, встановлений кримінальним процесуальним, цивільно-процесуальним, трудовим законодавством, законодавством про захист економічної конкуренції, законами України "Про судоустрій і статус суддів" та "Про доступ до судових рішень", Кодексом адміністративного судочинства України, Законом України "Про засади запобігання і протидії корупції".
      %p.note {Стаття 12 із змінами, внесеними згідно із Законами № 653-XIV від 13.05.99, № 1294-IV від 20.11.2003, № 4054-VI від 17.11.2011, № 245-VII від 16.05.2013, № 1261-VII від 13.05.2014}

    .section
      %h4
        %em Стаття 13.
        Діловодство щодо звернень громадян
      %p Діловодство щодо звернень громадян ведеться в порядку, який встановлюється Кабінетом Міністрів України.
  %section.chapter
    %h3 Розділ II. ПОРЯДОК РОЗГЛЯДУ ЗВЕРНЕНЬ ГРОМАДЯН

    .section
      %h4
        %em Стаття 14.
        Розгляд пропозицій (зауважень) громадян
      %p.important Органи державної влади і місцевого самоврядування, підприємства, установи, організації незалежно від форм власності, об'єднання громадян, посадові особи зобов'язані розглянути пропозиції (зауваження) та повідомити громадянина про результати розгляду.
      %p Пропозиції (зауваження) Героїв Радянського Союзу, Героїв Соціалістичної Праці, інвалідів Великої Вітчизняної війни розглядаються першими керівниками державних органів, органів місцевого самоврядування, підприємств, установ і організацій особисто.

    .section
      %h4
        %em Стаття 15.
        Розгляд заяв (клопотань)
      %p.important Органи державної влади, місцевого самоврядування та їх посадові особи, керівники та посадові особи підприємств, установ, організацій незалежно від форм власності, об'єднань громадян, до повноважень яких належить розгляд заяв (клопотань), зобов'язані об'єктивно і вчасно розглядати їх, перевіряти викладені в них факти, приймати рішення відповідно до чинного законодавства і забезпечувати їх виконання, повідомляти громадян про наслідки розгляду заяв (клопотань).
      %p Заяви (клопотання) Героїв Радянського Союзу, Героїв Соціалістичної Праці, інвалідів Великої Вітчизняної війни розглядаються першими керівниками державних органів, органів місцевого самоврядування, підприємств, установ, організацій особисто.
      %p Відповідь за результатами розгляду заяв (клопотань) в обов'язковому порядку дається тим органом, який отримав ці заяви і до компетенції якого входить вирішення порушених у заявах (клопотаннях) питань, за підписом керівника або особи, яка виконує його обов'язки.
      %p.important Рішення про відмову в задоволенні вимог, викладених у заяві (клопотанні), доводиться до відома громадянина в письмовій формі з посиланням на Закон і викладенням мотивів відмови, а також із роз'ясненням порядку оскарження прийнятого рішення.

    .section
      %h4
        %em Стаття 16.
        Розгляд скарг громадян
      %p.important Скарга на дії чи рішення органу державної влади, органу місцевого самоврядування, підприємства, установи, організації, об'єднання громадян, засобів масової інформації, посадової особи подається у порядку підлеглості вищому органу або посадовій особі, що не позбавляє громадянина права звернутися до суду відповідно до чинного законодавства, а в разі відсутності такого органу або незгоди громадянина з прийнятим за скаргою рішенням - безпосередньо до суду.
      %p Скарги Героїв Радянського Союзу, Героїв Соціалістичної Праці, інвалідів Великої Вітчизняної війни розглядаються першими керівниками державних органів, органів місцевого самоврядування, підприємств, установ і організацій особисто.
      %p Скарги на рішення загальних зборів членів колективних сільськогосподарських підприємств, акціонерних товариств, юридичних осіб, створених на основі колективної власності, а також на рішення вищих державних органів вирішуються в судовому порядку.
      %p Громадянин може подати скаргу особисто або через уповноважену на це іншу особу. Скарга в інтересах неповнолітніх і недієздатних осіб подається їх законними представниками.
      %p Скарга в інтересах громадянина за його уповноваженням, оформленим у встановленому законом порядку, може бути подана іншою особою, трудовим колективом або організацією, яка здійснює правозахисну діяльність.
      %p До скарги додаються наявні у громадянина рішення або копії рішень, які приймалися за його зверненням раніше, а також інші документи, необхідні для розгляду скарги, які після її розгляду повертаються громадянину.

    .section
      %h4
        %em Стаття 17.
        Термін подання скарги
      %p.important Скарга на рішення, що оскаржувалось, може бути подана до органу або посадовій особі вищого рівня протягом одного року з моменту його прийняття, але не пізніше одного місяця з часу ознайомлення громадянина з прийнятим рішенням. Скарги, подані з порушенням зазначеного терміну, не розглядаються.
      %p Пропущений з поважної причини термін може бути поновлений органом чи посадовою особою, що розглядає скаргу.
      %p Рішення вищого державного органу, який розглядав скаргу, в разі незгоди з ним громадянина може бути оскаржено до суду в термін, передбачений законодавством України.

    .section
      %h4
        %em Стаття 18.
        Права громадянина при розгляді заяви чи скарги
      %p.important Громадянин, який звернувся із заявою чи скаргою до органів державної влади, місцевого самоврядування, підприємств, установ, організацій незалежно від форм власності, об'єднань громадян, засобів масової інформації, посадових осіб, має право:
      %p.important особисто викласти аргументи особі, що перевіряла заяву чи скаргу, та брати участь у перевірці поданої скарги чи заяви;
      %p знайомитися з матеріалами перевірки;
      %p.important подавати додаткові матеріали або наполягати на їх запиті органом, який розглядає заяву чи скаргу;
      %p.important бути присутнім при розгляді заяви чи скарги;
      %p користуватися послугами адвоката або представника трудового колективу, організації, яка здійснює правозахисну функцію, оформивши це уповноваження у встановленому законом порядку;
      %p.important одержати письмову відповідь про результати розгляду заяви чи скарги;
      %p висловлювати усно або письмово вимогу щодо дотримання таємниці розгляду заяви чи скарги;
      %p.important вимагати відшкодування збитків, якщо вони стали результатом порушень встановленого порядку розгляду звернень.

    .section
      %h4
        %em Стаття 19.
        Обов'язки органів державної влади, місцевого самоврядування, підприємств, установ, організацій незалежно від форм власності, об'єднань громадян, засобів масової інформації, їх керівників та інших посадових осіб щодо розгляду заяв чи скарг
      %p.important Органи державної влади і місцевого самоврядування, підприємства, установи, організації незалежно від форм власності, об'єднання громадян, засоби масової інформації, їх керівники та інші посадові особи в межах своїх повноважень зобов'язані:
      %p.important об'єктивно, всебічно і вчасно перевіряти заяви чи скарги;
      %p у разі прийняття рішення про обмеження доступу громадянина до відповідної інформації при розгляді заяви чи скарги скласти про це мотивовану постанову;
      %p.note {Частину першу статті 19 доповнено абзацом згідно із Законом № 2384-IV від 20.01.2005}
      %p.important на прохання громадянина запрошувати його на засідання відповідного органу, що розглядає його заяву чи скаргу;
      %p скасовувати або змінювати оскаржувані рішення у випадках, передбачених законодавством України, якщо вони не відповідають закону або іншим нормативним актам, невідкладно вживати заходів до припинення неправомірних дій, виявляти, усувати причини та умови, які сприяли порушенням;
      %p.important забезпечувати поновлення порушених прав, реальне виконання прийнятих у зв'язку з заявою чи скаргою рішень;
      %p.important письмово повідомляти громадянина про результати перевірки заяви чи скарги і суть прийнятого рішення;
      %p.important вживати заходів щодо відшкодування у встановленому законом порядку матеріальних збитків, якщо їх було завдано громадянину в результаті ущемлення його прав чи законних інтересів, вирішувати питання про відповідальність осіб, з вини яких було допущено порушення, а також на прохання громадянина не пізніш як у місячний термін довести прийняте рішення до відома органу місцевого самоврядування, трудового колективу чи об'єднання громадян за місцем проживання громадянина;
      %p у разі визнання заяви чи скарги необгрунтованою роз'яснити порядок оскарження прийнятого за нею рішення;
      %p.important не допускати безпідставної передачі розгляду заяв чи скарг іншим органам;
      %p особисто організовувати та перевіряти стан розгляду заяв чи скарг громадян, вживати заходів до усунення причин, що їх породжують, систематично аналізувати та інформувати населення про хід цієї роботи.
      %p У разі необхідності та за наявності можливостей розгляд звернень громадян покладається на посадову особу чи підрозділ службового апарату, спеціально уповноважені здійснювати цю роботу, в межах бюджетних асигнувань. Це положення не скасовує вимоги абзацу дев'ятого частини першої цієї статті.

    .section
      %h4
        %em Стаття 20.
        Термін розгляду звернень громадян
      %p.important Звернення розглядаються і вирішуються у термін не більше одного місяця від дня їх надходження, а ті, які не потребують додаткового вивчення, - невідкладно, але не пізніше п'ятнадцяти днів від дня їх отримання. Якщо в місячний термін вирішити порушені у зверненні питання неможливо, керівник відповідного органу, підприємства, установи, організації або його заступник встановлюють необхідний термін для його розгляду, про що повідомляється особі, яка подала звернення. При цьому загальний термін вирішення питань, порушених у зверненні, не може перевищувати сорока п'яти днів.
      %p.important На обгрунтовану письмову вимогу громадянина термін розгляду може бути скорочено від встановленого цією статтею терміну.
      %p Звернення громадян, які мають встановлені законодавством пільги, розглядаються у першочерговому порядку.

    .section.important
      %h4
        %em Стаття 21.
        Безоплатність розгляду звернення
      %p Органи державної влади, місцевого самоврядування, підприємства, установи, організації незалежно від форм власності, об'єднання громадян, посадові особи розглядають звернення громадян, не стягуючи плати.

    .section
      %h4
        %em Стаття 22.
        Особистий прийом громадян
      %p.important Керівники та інші посадові особи органів державної влади, місцевого самоврядування, підприємств, установ, організацій незалежно від форм власності, об'єднань громадян зобов'язані проводити особистий прийом громадян.
      %p Прийом проводиться регулярно у встановлені дні та години, у зручний для громадян час, за місцем їх роботи і проживання. Графіки прийому доводяться до відома громадян.
      %p Порядок прийому громадян в органах державної влади, місцевого самоврядування, на підприємствах, в установах, організаціях незалежно від форм власності, об'єднаннях громадян визначається їх керівниками.
      %p Усі звернення громадян на особистому прийомі реєструються. Якщо вирішити порушені в усному зверненні питання безпосередньо на особистому прийомі неможливо, воно розглядається у тому ж порядку, що й письмове звернення. Про результати розгляду громадянину повідомляється письмово або усно, за бажанням громадянина.

    .section
      %h4
        %em Стаття 23.
        Організація прийому громадян вищими посадовими особами
      %p Вищі посадові особи держави - Президент України, Голова Верховної Ради України, Прем'єр-міністр України - здійснюють прийом у встановленому ними порядку.

    .section
      %h4
        %em Стаття 23-1.
        Електронна петиція, порядок її подання та розгляду
      %p Громадяни можуть звернутися до Президента України, Верховної Ради України, Кабінету Міністрів України, органу місцевого самоврядування з електронними петиціями через офіційний веб-сайт органу, якому вона адресована, або веб-сайт громадського об’єднання, яке здійснює збір підписів на підтримку електронної петиції.
      %p В електронній петиції має бути викладено суть звернення, зазначено прізвище, ім’я, по батькові автора (ініціатора) електронної петиції, адресу електронної пошти. На веб-сайті відповідного органу або громадського об’єднання, що здійснює збір підписів, обов’язково зазначаються дата початку збору підписів та інформація щодо загальної кількості та переліку осіб, які підписали електронну петицію.
      %p Електронна петиція не може містити заклики до повалення конституційного ладу, порушення територіальної цілісності України, пропаганду війни, насильства, жорстокості, розпалювання міжетнічної, расової, релігійної ворожнечі, заклики до вчинення терористичних актів, посягання на права і свободи людини.
      %p Відповідальність за зміст електронної петиції несе автор (ініціатор) електронної петиції.
      %p Для створення електронної петиції до Президента України, Верховної Ради України, Кабінету Міністрів України, органу місцевого самоврядування її автор (ініціатор) заповнює спеціальну форму на офіційному веб-сайті органу, якому вона адресована, або веб-сайті громадського об’єднання, яке здійснює збір підписів на підтримку електронних петицій, та розміщує текст електронної петиції.
      %p Електронна петиція оприлюднюється на офіційному веб-сайті відповідно Президента України, Верховної Ради України, Кабінету Міністрів України, органу місцевого самоврядування або на веб-сайті громадського об’єднання, яке здійснює збір підписів на підтримку електронних петицій, протягом двох робочих днів з дня надсилання її автором (ініціатором).
      %p У разі невідповідності електронної петиції встановленим вимогам оприлюднення такої петиції не здійснюється, про що повідомляється автору (ініціатору) не пізніше строку, встановленого для оприлюднення.
      %p Дата оприлюднення електронної петиції на офіційному веб-сайті відповідно Президента України, Верховної Ради України, Кабінету Міністрів України, відповідного органу місцевого самоврядування або на веб-сайті громадського об’єднання є датою початку збору підписів на її підтримку.
      %p Відповідні органи державної влади, органи місцевого самоврядування та громадські об’єднання під час збору підписів на підтримку електронної петиції зобов’язані забезпечити:
      %p безоплатність доступу та користування інформаційно-телекомунікаційною системою, за допомогою якої здійснюється збір підписів;
      %p електронну реєстрацію громадян для підписання петиції;
      %p недопущення автоматичного введення інформації, у тому числі підписання електронної петиції, без участі громадянина;
      %p фіксацію дати і часу оприлюднення електронної петиції та підписання її громадянином.
      %p Електронна петиція, яка в установлений строк не набрала необхідної кількості голосів на її підтримку, після завершення строку збору підписів на її підтримку розглядається як звернення громадян відповідно до цього Закону.
      %p Електронна петиція, адресована відповідно Президенту України, Верховній Раді України, Кабінету Міністрів України, розглядається у порядку, встановленому цією статтею, за умови збору на її підтримку не менш як 25000 підписів громадян протягом не більше трьох місяців з дня оприлюднення петиції.
      %p Вимоги до кількості підписів громадян на підтримку електронної петиції до органу місцевого самоврядування та строку збору підписів визначаються статутом територіальної громади.
      %p Електронна петиція, збір підписів на підтримку якої здійснювався через веб-сайт громадського об’єднання і яка протягом установленого строку набрала необхідну кількість підписів на її підтримку, не пізніше наступного дня після набрання необхідної кількості підписів надсилається громадським об’єднанням органу, якому адресована петиція, із зазначенням інформації про дату початку збору підписів, дату направлення електронної петиції, загальну кількість та перелік осіб, які підписали електронну петицію (чи посилання на джерело такої інформації в мережі Інтернет), строк збору підписів, назву та адресу електронної пошти громадського об’єднання.
      %p Інформація про початок розгляду електронної петиції, яка в установлений строк набрала необхідну кількість голосів на її підтримку, оприлюднюється на офіційному веб-сайті відповідно Президента України, Верховної Ради України, Кабінету Міністрів України, відповідного органу місцевого самоврядування не пізніш як через три робочі дні після набрання необхідної кількості підписів на підтримку петиції, а в разі отримання електронної петиції від громадського об’єднання - не пізніш як через два робочі дні після отримання такої петиції.
      %p Розгляд електронної петиції здійснюється невідкладно, але не пізніше десяти робочих днів з дня оприлюднення інформації про початок її розгляду.
      %p Якщо електронна петиція містить клопотання про її розгляд на парламентських слуханнях у Верховній Раді України або громадських слуханнях відповідної територіальної громади, автор (ініціатор) петиції має право представити електронну петицію на таких слуханнях. У такому разі строк розгляду електронної петиції продовжується на строк, необхідний для проведення відповідних слухань.
      %p Порядок розгляду електронної петиції, адресованої Президенту України, Верховній Раді України, Кабінету Міністрів України, органу місцевого самоврядування, визначається відповідно Президентом України, Верховною Радою України, Кабінетом Міністрів України, місцевою радою.
      %p Про підтримку або непідтримку електронної петиції публічно оголошується на офіційному веб-сайті Президентом України - щодо електронної петиції, адресованої Президенту України, Головою Верховної Ради України - щодо електронної петиції, адресованої Верховній Раді України, Прем’єр-міністром України - щодо електронної петиції, адресованої Кабінету Міністрів України, головою відповідної місцевої ради - щодо електронної петиції, адресованої органу місцевого самоврядування.
      %p У відповіді на електронну петицію повідомляється про результати розгляду порушених у ній питань із відповідним обґрунтуванням.
      %p Відповідь на електронну петицію не пізніше наступного робочого дня після закінчення її розгляду оприлюднюється на офіційному веб-сайті органу, якому вона була адресована, а також надсилається у письмовому вигляді автору (ініціатору) електронної петиції та відповідному громадському об’єднанню, яке здійснювало збір підписів на підтримку відповідної електронної петиції.
      %p У разі визнання за доцільне викладені в електронній петиції пропозиції можуть реалізовуватися органом, якому вона адресована, шляхом прийняття з питань, віднесених до його компетенції, відповідного рішення. Президентом України, Кабінетом Міністрів України, народними депутатами України за результатами розгляду електронної петиції можуть розроблятися та вноситися в установленому порядку на розгляд Верховної Ради України законопроекти, спрямовані на вирішення порушених у петиції питань.
      %p Інформація про кількість підписів, одержаних на підтримку електронної петиції, та строки їх збору зберігається не менше трьох років з дня оприлюднення петиції.

    %p.note {Розділ II доповнено статтею 23-1 згідно із Законом № 577-VIII від 02.07.2015}
  %section.chapter
    %h3 Розділ III. ВІДПОВІДАЛЬНІСТЬ ЗА ПОРУШЕННЯ ЗАКОНОДАВСТВА ПРО ЗВЕРНЕННЯ ГРОМАДЯН

    .section.important
      %h4
        %em Стаття 24.
        Відповідальність посадових осіб за порушення законодавства про звернення громадян
      %p Особи, винні у порушенні цього Закону, несуть цивільну, адміністративну або кримінальну відповідальність, передбачену законодавством України.

    .section.important
      %h4
        %em Стаття 25.
        Відшкодування збитків громадянину у зв'язку з порушенням вимог цього Закону при розгляді його скарги
      %p У разі задоволення скарги орган або посадова особа, які прийняли неправомірне рішення щодо звернення громадянина, відшкодовують йому завдані матеріальні збитки, пов'язані з поданням і розглядом скарги, обгрунтовані витрати, понесені у зв'язку з виїздом для розгляду скарги на вимогу відповідного органу, і втрачений за цей час заробіток. Спори про стягнення витрат розглядаються в судовому порядку.
      %p Громадянину на його вимогу і в порядку, встановленому чинним законодавством, можуть бути відшкодовані моральні збитки, завдані неправомірними діями або рішеннями органу чи посадової особи при розгляді скарги. Розмір відшкодування моральних (немайнових) збитків у грошовому виразі визначається судом.

    .section.important
      %h4
        %em Стаття 26.
        Відповідальність громадян за подання звернень протиправного характеру
      %p Подання громадянином звернення, яке містить наклеп і образи, дискредитацію органів державної влади, органів місцевого самоврядування, об'єднань громадян та їхніх посадових осіб, керівників та інших посадових осіб підприємств, установ і організацій незалежно від форм власності, заклики до розпалювання національної, расової, релігійної ворожнечі та інших дій, тягне за собою відповідальність, передбачену чинним законодавством.

    .section
      %h4
        %em Стаття 27.
        Відшкодування витрат по перевірці звернень, які містять завідомо неправдиві відомості
      %p Витрати, зроблені органом державної влади, місцевого самоврядування, підприємством, установою, організацією незалежно від форм власності, об'єднанням громадян, засобами масової інформації у зв'язку з перевіркою звернень, які містять завідомо неправдиві відомості, можуть бути стягнуті з громадянина за рішенням суду.

    .section
      %h4
        %em Стаття 28.
        Контроль за дотриманням законодавства про звернення громадян
      %p Контроль за дотриманням законодавства про звернення громадян відповідно до своїх повноважень здійснюють Верховна Рада України, народні депутати України, Президент України, Кабінет Міністрів України, Уповноважений з прав людини Верховної Ради України, Верховна Рада Автономної Республіки Крим, обласні, Київська та Севастопольська міські, районні, районні в містах Києві та Севастополі державні адміністрації, сільські, селищні, міські ради та їх виконавчі комітети, депутати місцевих рад, а також міністерства, інші центральні органи виконавчої влади щодо підпорядкованих їм підприємств, установ та організацій.
    %p.note {Статтю 29 виключено на підставі Закону № 1697-VII від 14.10.2014}
