!!!
%html
  %head
    %meta{content: "IE=edge", http: {equiv: "X-UA-Compatible"}}
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name:"viewport"}

    %title= current_page.data.title || "Better Ukraine"
    = stylesheet_link_tag :site
    = javascript_include_tag :all

  %body{class: page_classes}
    .container
      .row
        .col-sm-8
          = yield
        %aside.col-sm-4
          %h3 Стисло про закони
          %a{href: '/laws/citizens-appeals.html'} Про звернення громадян
