---
title: Краща Країна: вчимось захищати свої права в своїй країні
---

%h1 Привіт!

%p Вас вітає сайт, мета якого навчити вас користуватися своїми правами в своїй країні.

%p В нас правова держава, ми маємо Конституцію і кодекси законів. Але хто з нас ними користується? В нас панує суспільна думка, що правий той, хто має більше грошей. Тому боротися простому громадянину не має сенсу: все куплено, домовлено і взагалі, наче твої права хтось десь зарання викупив і ти нічого не можеш. Чи може просто не хочеш? Можe ти просто опускаєш руки раніше часу.
%p Прийнято вважати, що закони для простих людей - "темний ліс", що розібратися і оперувати ними може тільки людина зі спеціальними знаннями, тобто юрист, але це не так. Це обов'язок вільної, свідомої людини, людини нераба. Тим паче це не так й складно.
%p Послуги юриста коштують грошей, а ми самі, лінуючись, нецікавившись своїми правами, готові стерпіти, пережити, вилікуватись часом і спустити все з рук, чим дати повід для винуватців повторювати все знову і знову. А чому б і ні, якщо їх ніхто не карає. Урок вони навряд чи виносять зі своїх вчинків.
%p Тому ми маємо країну вседозволеності і тільки ми в цьому винні. Від кожного з нас залежить, де ми будемо завтра, наскільки комфортна для життя буде наша країна!
